.scroller {
	margin: 0 auto;
	
  height: 300px;
  width: 70%;
	
	background: rgba(125, 130, 146, 0.8);
border-radius: 30px;
overflow-y: auto;

}
.scroller::-webkit-scrollbar { width: 0 !important }
.console{
	padding-top:2%;
	margin-left: 2%;
	margin-right: 2%;
	padding-bottom: 3%;
}
p:nth-child(3n-1) {
	color:red !important
}
p:nth-child(3n) {
	color:yellow !important
}
p:nth-child(3n+1) {
	color:green !important
}
p{
	font-size: 120% !important
}
